@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.container {
  background-color: #f2f5f8;
  width: 100%;
}
.container .top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 41px;
  background-color: #fff;
}
.container .top-section .change-language {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
}
.container .top-section .change-language input {
  width: 50px;
  border: none;
  color: #758bfd;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container .top-section .change-language input::-moz-placeholder {
  color: #758bfd;
  font-size: 12px;
}
.container .top-section .change-language input:-ms-input-placeholder {
  color: #758bfd;
  font-size: 12px;
}
.container .top-section .change-language input::placeholder {
  color: #758bfd;
  font-size: 12px;
}
.container .top-section .change-language .change-language-ul {
  display: none;
}
.container .top-section .change-language .input-language-chois {
  display: flex;
  gap: 10px;
}
.container .top-section .change-language .input-language-chois .img-geo {
  width: 15px;
  height: 11px;
  cursor: pointer;
}
.container .top-section .change-language .input-language-chois .img-france {
  width: 15px;
  height: 11px;
}
.container .top-section .change-language .input-language-chois span {
  font-size: 12px;
  color: #758bfd;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  cursor: pointer;
}
.container .top-section .change-language .img-for-input-top {
  cursor: pointer;
}
.container .top-section .account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.container .top-section .account p {
  color: #758bfd;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}
.container .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 41px;
  background-color: #fff;
}
.container .navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 69px;
  font-size: 14px;
  color: #8172d5;
  font-family: "roboto", sans-serif;
  font-weight: 500;
}
.container .navigation ul a {
  font-size: 14px;
  color: #8172d5;
  font-family: "roboto", sans-serif;
  font-weight: 500;
}
.container .navigation .serch {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 227px;
}
.container .navigation .serch input {
  width: 190px;
  height: 37px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #fff;
  background-color: #f2f5f8;
}
.container .navigation .serch input::-moz-placeholder {
  color: #69a3a2;
  font-weight: 500;
  font-size: 14px;
  padding: 9px 26px;
  background-color: #f2f5f8;
}
.container .navigation .serch input:-ms-input-placeholder {
  color: #69a3a2;
  font-weight: 500;
  font-size: 14px;
  padding: 9px 26px;
  background-color: #f2f5f8;
}
.container .navigation .serch input::placeholder {
  color: #69a3a2;
  font-weight: 500;
  font-size: 14px;
  padding: 9px 26px;
  background-color: #f2f5f8;
}
.container .navigation .serch .serch-img {
  width: 37px;
  height: 37px;
  background-color: #8172d5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.container .navigation .serch .serch-img img {
  width: 11px;
  height: 11px;
}
.container .hero-section {
  display: flex;
  justify-content: center;
  width: 82%;
  margin: 0 auto;
  background-color: #f2f5f8;
}
.container .hero-section .hero-section-main {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 44px;
  border-radius: 4px;
}
.container .hero-section .hero-section-main p {
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  padding-bottom: 14px;
}
.container .hero-section .hero-section-main .hero-section-slider-back {
  display: none;
}
.container .hero-section .hero-section-main .hero-section-slider-middle {
  display: none;
}
.container .hero-section .hero-section-main .hero-section-slider {
  padding: 18px;
  background-color: #fff;
  border-radius: 12px;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-slider-img {
  width: 706px;
  height: 230px;
  border-radius: 12px;
}
.container .hero-section .hero-section-main .hero-section-slider h1 {
  padding: 18px;
  font-size: 24px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  width: 630px;
}
.container .hero-section .hero-section-main .hero-section-slider h2 {
  padding: 18px;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #69a3a2;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .hero-section-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .one {
  background-color: #8172d5;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .six {
  background-color: #8172d5;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .eight {
  background-color: #8172d5;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .circles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .circles .circle {
  width: 12px;
  height: 12px;
  border: 2px solid #8172d5;
  border-radius: 50%;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .circles .circle:hover {
  background-color: #8172d5;
  cursor: pointer;
}
.container .hero-section .hero-section-aside {
  margin-top: 44px;
  width: 30%;
}
.container .hero-section .hero-section-aside p {
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #133b3a;
  margin-bottom: 17px;
}
.container .hero-section .hero-section-aside .hero-section-aside-icones {
  height: 471px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 12px;
  padding: 50px;
}
.container .hero-section .hero-section-aside .hero-section-aside-icones .hero-icone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  color: #133b3a;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}
.container .panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: 55px auto 14px auto;
}
.container .panel .news {
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #133b3a;
}
.container .panel .nevs-one {
  color: #8172d5;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #8172d5;
}
.container .cards-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 19px;
  margin: 0 auto;
  width: 1088px;
  margin: 0 auto;
}
.container .cards-section .card {
  background-color: #fff;
  width: 260px;
  height: 368px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
  border-radius: 12px;
  gap: 20px;
}
.container .cards-section .card .img-box {
  width: 224px;
  height: 125px;
  border-radius: 12px;
  margin: 0 auto;
}
.container .cards-section .card .img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.container .cards-section .card p {
  font-size: 20px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #133b3a;
  margin: 0 auto;
}
.container .cards-section .card h6 {
  color: #69a3a2;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}
.container .question {
  width: 1088px;
  margin: 0 auto;
  padding-top: 81px;
  padding-bottom: 14px;
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #133b3a;
}
.container .accordion-section {
  max-width: 1088px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 10px;
}
.container .accordion-section .accordion-box {
  width: 100%;
  height: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 12px;
}
.container .accordion-section .accordion-box .accordion-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 12px;
}
.container .accordion-section .accordion-box .accordion-text {
  color: #8172d5;
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}
.container .accordion-section .accordion-box .accordion-text-arrow {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .accordion-section .accordion-box .accordion-text-arrow p {
  color: #8172d5;
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}
.container .accordion-section .accordion-box .accordion-text-arrow img:hover {
  transform: rotate(360deg);
  transition: 2s;
  cursor: pointer;
}
.container .virtual-events-section {
  margin-top: 111px;
  display: flex;
  height: 360px;
  width: 100%;
  align-items: center;
  background-color: #fff;
}
.container .virtual-events-section .virtual-events-info {
  display: flex;
  align-items: flex-start;
}
.container .virtual-events-section .virtual-events-info h1 {
  color: #8172d5;
  font-size: 6px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  border-bottom: 1px solid #8172d5;
  width: 44px;
}
.container .virtual-events-section .virtual-events-info .virtual-info-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding-left: 75px;
}
.container .virtual-events-section .virtual-events-info .virtual-info-box h2 {
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #ffb140;
}
.container .virtual-events-section .virtual-events-info .virtual-info-box h3 {
  font-size: 14px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #69a3a2;
}
.container .virtual-events-section .virtual-events-info .virtual-info-box h4 {
  font-size: 24px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #133b3a;
}
.container .virtual-events-section .virtual-events-info .virtual-info-box button {
  background-color: #758bfd;
  color: #fff;
  font-size: 10px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  padding: 12px 15px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.container .virtual-events-section .virtual-events-info .virtual-info-box .registracion input {
  padding: 5px;
}
.container .contact-section {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 196px;
  gap: 11px;
}
.container .contact-section .content h1 {
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #133b3a;
  padding: 15px 0;
}
.container .contact-section .content .content-img {
  border-radius: 12px;
}
.container .contact-section .content .contant-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.container .contact-section .content .contant-foot button {
  background-color: #758bfd;
  color: #fff;
  font-size: 10px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  padding: 12px 15px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.container .contact-section .content .contant-foot h2 {
  font-size: 14px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #133b3a;
}
.container .contact-section .content-maneger h1 {
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #133b3a;
  padding: 15px 0;
}
.container .contact-section .content-maneger .content-img-one {
  border-radius: 12px;
}
.container .contact-section .content-maneger h2 {
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #8172d5;
  padding: 15px 10px;
}
.container .contact-section .content-maneger h3 {
  font-size: 14px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #133b3a;
}
.container .people-news {
  padding-top: 52px;
  width: 85%;
}
.container .people-news p {
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #133b3a;
  padding: 20px 75px;
}
.container .people-news .people-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.container .people-news .people-cards .people-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 12px;
  height: 400px;
  background-color: #fff;
}
.container .people-news .people-cards .people-card .people-img {
  padding: 5px 80px;
}
.container .people-news .people-cards .people-card .h1 {
  font-size: 20px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #133b3a;
  transition: 1s;
}
.container .people-news .people-cards .people-card .h2 {
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #69a3a2;
}
.container .feedback-section {
  background-color: #f7fdfd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 30px 0;
}
.container .feedback-section button {
  background-color: #758bfd;
  color: #fff;
  font-size: 10px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  padding: 12px 15px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.container .footer {
  width: 100%;
  background-color: #758BFD;
}
.container .footer .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 24px 40px;
  cursor: pointer;
}

.large {
  transform: scale(1.2);
}

.small {
  transform: scale(0.8);
}

.clear {
  display: none;
}

.opacity {
  opacity: 0;
  transition: 0.8s;
}/*# sourceMappingURL=style.css.map */