@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.container {
  background-color: #f2f5f8;
  width: 100%;
  .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 41px;
    background-color: #fff;

    .change-language {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background-color: #fff;
      input {
        width: 50px;
        border: none;
        color: #758bfd;
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;

        &::placeholder {
          color: #758bfd;
          font-size: 12px;
        }
      }

      .change-language-ul {
        display: none;
      }

      .input-language-chois {
        display: flex;
        gap: 10px;

        .img-geo {
          width: 15px;
          height: 11px;
          cursor: pointer;
        }
        .img-france {
          width: 15px;
          height: 11px;
        }
        span {
          font-size: 12px;
          color: #758bfd;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          cursor: pointer;
        }
      }

      .img-for-input-top {
        cursor: pointer;
      }
    }

    .account {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      p {
        color: #758bfd;
        font-size: 12px;
        font-family: "roboto", sans-serif;
        font-weight: 400;
      }
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 41px;
    background-color: #fff;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 69px;
      font-size: 14px;
      color: #8172d5;
      font-family: "roboto", sans-serif;
      font-weight: 500;
      a {
        font-size: 14px;
        color: #8172d5;
        font-family: "roboto", sans-serif;
        font-weight: 500;
      }
    }

    .serch {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 227px;
      input {
        width: 190px;
        height: 37px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: 1px solid #fff;
        background-color: #f2f5f8;

        &::placeholder {
          color: #69a3a2;
          font-weight: 500;
          font-size: 14px;
          padding: 9px 26px;
          background-color: #f2f5f8;
        }
      }
      .serch-img {
        width: 37px;
        height: 37px;
        background-color: #8172d5;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        img {
          width: 11px;
          height: 11px;
        }
      }
    }
  }

  .hero-section {
    display: flex;
    // align-items: center;
    justify-content: center;
    width: 82%;
    margin: 0 auto;

    background-color: #f2f5f8;

    .hero-section-main {
      width: 70%;
      // max-width: 742px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: 44px;
      border-radius: 4px;

      p {
        font-size: 18px;
        font-family: "roboto", sans-serif;
        font-weight: 500;
        padding-bottom: 14px;
      }

      .hero-section-slider-back {
        display: none;
      }
      .hero-section-slider-middle {
        display: none;
      }

      .hero-section-slider {
        padding: 18px;
        background-color: #fff;
        border-radius: 12px;

        .hero-section-slider-img {
          width: 706px;
          height: 230px;
          border-radius: 12px;
        }

        h1 {
          padding: 18px;
          font-size: 24px;
          font-family: "roboto", sans-serif;
          font-weight: 500;
          width: 630px;
        }
        h2 {
          padding: 18px;
          font-size: 12px;
          font-family: "roboto", sans-serif;
          font-weight: 400;
          color: #69a3a2;
        }

        .hero-section-foot {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 28px;

          .hero-section-arrows {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
          }

          .one {
            background-color: #8172d5;
          }
          .six {
            background-color: #8172d5;
          }
          .eight {
            background-color: #8172d5;
          }

          .circles {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            .circle {
              width: 12px;
              height: 12px;
              border: 2px solid #8172d5;
              border-radius: 50%;

              &:hover {
                background-color: #8172d5;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .hero-section-aside {
      margin-top: 44px;
      width: 30%;

      p {
        font-size: 18px;
        font-family: "roboto", sans-serif;
        font-weight: 500;
        color: #133b3a;
        margin-bottom: 17px;
      }

      .hero-section-aside-icones {
        height: 471px;
        background-color: #fff;
        display: grid;
        // column-gap: 90px;
        // row-gap: 66px;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 12px;
        padding: 50px;

        .hero-icone {
          display: flex;
          flex-direction: column;
          align-items: center;
          // justify-content: center;
          gap: 13px;
          color: #133b3a;
          font-size: 12px;
          font-family: "roboto", sans-serif;
          font-weight: 400;
        }
      }
    }
  }

  .panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 55px auto 14px auto;

    .news {
      font-size: 18px;
      font-family: "roboto", sans-serif;
      font-weight: 500;
      color: #133b3a;
    }
    .nevs-one {
      color: #8172d5;
      font-size: 12px;
      font-family: "roboto", sans-serif;
      font-weight: 400;
      border-bottom: 1px solid #8172d5;
    }
  }

  .cards-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 19px;
    margin: 0 auto;
    width: 1088px;
    margin: 0 auto;

    .card {
      background-color: #fff;
      width: 260px;
      height: 368px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 18px;
      border-radius: 12px;
      gap: 20px;

      .img-box {
        width: 224px;
        height: 125px;
        border-radius: 12px;
        margin: 0 auto;
      }
      .img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }

      p {
        font-size: 20px;
        font-family: "roboto", sans-serif;
        font-weight: 500;
        color: #133b3a;

        margin: 0 auto;
      }
      h6 {
        color: #69a3a2;
        font-size: 12px;
        font-family: "roboto", sans-serif;
        font-weight: 400;
      }
    }
  }

  .question {
    width: 1088px;
    margin: 0 auto;
    padding-top: 81px;
    padding-bottom: 14px;
    font-size: 18px;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    color: #133b3a;
  }

  .accordion-section {
    max-width: 1088px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 10px;

    .accordion-box {
      width: 100%;
      height: 82px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 12px;

      .accordion-down {
        // width: 100%;
        // height: 82px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 12px;
      }

      .accordion-text {
        color: #8172d5;
        font-size: 18px;
        font-family: "roboto", sans-serif;
        font-weight: 400;
      }

      .accordion-text-arrow {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          color: #8172d5;
          font-size: 18px;
          font-family: "roboto", sans-serif;
          font-weight: 400;
        }
        img {
          &:hover {
            transform: rotate(360deg);
            transition: 2s;
            cursor: pointer;
          }
        }
      }
    }
  }

  .virtual-events-section {
    margin-top: 111px;
    display: flex;
    height: 360px;
    width: 100%;
    align-items: center;
    background-color: #fff;
    // justify-content: space-between;

    .virtual-events-info {
      display: flex;
      align-items: flex-start;
      // background-color: #fff;

      h1 {
        color: #8172d5;
        font-size: 6px;
        font-family: "roboto", sans-serif;
        font-weight: 500;
        border-bottom: 1px solid #8172d5;
        width: 44px;
      }

      .virtual-info-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // height: 100%;
        gap: 30px;
        padding-left: 75px;
        // background-color: #fff;

        h2 {
          font-size: 12px;
          font-family: "roboto", sans-serif;
          font-weight: 500;
          color: #ffb140;
        }
        h3 {
          font-size: 14px;
          font-family: "roboto", sans-serif;
          font-weight: 500;
          color: #69a3a2;
        }
        h4 {
          font-size: 24px;
          font-family: "roboto", sans-serif;
          font-weight: 500;
          color: #133b3a;
        }
        button {
          background-color: #758bfd;
          color: #fff;
          font-size: 10px;
          font-family: "roboto", sans-serif;
          font-weight: 500;
          padding: 12px 15px;
          border-radius: 12px;
          border: none;
          cursor: pointer;
        }

        .registracion {
          // display: flex;
          // flex-direction: column;
          // gap: 15px;
          input {
            padding: 5px;
          }
        }
      }
    }
  }

  .contact-section {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 196px;
    gap: 11px;

    .content {
      h1 {
        font-size: 18px;
        font-family: "roboto", sans-serif;
        font-weight: 500;
        color: #133b3a;
        padding: 15px 0;
      }

      .content-img {
        border-radius: 12px;

        // &:hover {
        //   transform: scale(1.3);
        // }
      }

      .contant-foot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        button {
          background-color: #758bfd;
          color: #fff;
          font-size: 10px;
          font-family: "roboto", sans-serif;
          font-weight: 500;
          padding: 12px 15px;
          border-radius: 12px;
          border: none;
          cursor: pointer;
        }

        h2 {
          font-size: 14px;
          font-family: "roboto", sans-serif;
          font-weight: 400;
          color: #133b3a;
        }
      }
    }

    .content-maneger {
      h1 {
        font-size: 18px;
        font-family: "roboto", sans-serif;
        font-weight: 500;
        color: #133b3a;
        padding: 15px 0;
      }

      .content-img-one {
        border-radius: 12px;

        // &:hover {
        //   transform: scale(1.1);
        // }
      }
      h2 {
        font-size: 18px;
        font-family: "roboto", sans-serif;
        font-weight: 500;
        color: #8172d5;
        padding: 15px 10px;
      }

      h3 {
        font-size: 14px;
        font-family: "roboto", sans-serif;
        font-weight: 400;
        color: #133b3a;
      }
    }
  }

  .people-news {
    padding-top: 52px;
    width: 85%;
    p {
      font-size: 18px;
      font-family: "roboto", sans-serif;
      font-weight: 500;
      color: #133b3a;
      padding: 20px 75px;
    }
    .people-cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      .people-card {
        .people-img {
          padding: 5px 80px;
          // position: fixed;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        border-radius: 12px;
        height: 400px;
        background-color: #fff;

        .h1 {
          font-size: 20px;
          font-family: "roboto", sans-serif;
          font-weight: 500;
          color: #133b3a;
          transition: 1s;
        }

        .h2 {
          font-size: 12px;
          font-family: "roboto", sans-serif;
          font-weight: 400;
          color: #69a3a2;
        }
      }
    }
  }

  .feedback-section {
    background-color: #f7fdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px 0;

    button {
      background-color: #758bfd;
      color: #fff;
      font-size: 10px;
      font-family: "roboto", sans-serif;
      font-weight: 500;
      padding: 12px 15px;
      border-radius: 12px;
      border: none;
      cursor: pointer;
    }
  }


.footer {
  width: 100%;
  background-color: #758BFD;

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
      font-family: "roboto", sans-serif;
      font-weight: 500;
      color: #fff;
      padding: 24px 40px;
      cursor: pointer;

  }

}


  //container ends here
}

.large {
  transform: scale(1.2);
}

.small {
  transform: scale(0.8);
}

.clear {
  display: none;
}
.opacity {
  opacity: 0;
  transition: 0.8s;
}
