@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.container {
  background-color: #f2f5f8;
  width: 1324px;
}
.container .top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 41px;
  background-color: #fff;
}
.container .top-section .change-language {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
}
.container .top-section .change-language input {
  width: 50px;
  border: none;
  color: #758bfd;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container .top-section .change-language input::-moz-placeholder {
  color: #758bfd;
  font-size: 12px;
}
.container .top-section .change-language input:-ms-input-placeholder {
  color: #758bfd;
  font-size: 12px;
}
.container .top-section .change-language input::placeholder {
  color: #758bfd;
  font-size: 12px;
}
.container .top-section .change-language .change-language-ul {
  display: none;
}
.container .top-section .change-language .input-language-chois {
  display: flex;
  gap: 10px;
}
.container .top-section .change-language .input-language-chois .img-geo {
  width: 15px;
  height: 11px;
  cursor: pointer;
}
.container .top-section .change-language .input-language-chois .img-france {
  width: 15px;
  height: 11px;
}
.container .top-section .change-language .input-language-chois span {
  font-size: 12px;
  color: #758bfd;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  cursor: pointer;
}
.container .top-section .change-language .img-for-input-top {
  cursor: pointer;
}
.container .top-section .account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.container .top-section .account p {
  color: #758bfd;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}
.container .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 41px;
  background-color: #fff;
}
.container .navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 69px;
  font-size: 14px;
  color: #8172d5;
  font-family: "roboto", sans-serif;
  font-weight: 500;
}
.container .navigation ul a {
  font-size: 14px;
  color: #8172d5;
  font-family: "roboto", sans-serif;
  font-weight: 500;
}
.container .navigation .serch {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 227px;
}
.container .navigation .serch input {
  width: 190px;
  height: 37px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #fff;
  background-color: #f2f5f8;
}
.container .navigation .serch input::-moz-placeholder {
  color: #69a3a2;
  font-weight: 500;
  font-size: 14px;
  padding: 9px 26px;
  background-color: #f2f5f8;
}
.container .navigation .serch input:-ms-input-placeholder {
  color: #69a3a2;
  font-weight: 500;
  font-size: 14px;
  padding: 9px 26px;
  background-color: #f2f5f8;
}
.container .navigation .serch input::placeholder {
  color: #69a3a2;
  font-weight: 500;
  font-size: 14px;
  padding: 9px 26px;
  background-color: #f2f5f8;
}
.container .navigation .serch .serch-img {
  width: 37px;
  height: 37px;
  background-color: #8172d5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.container .navigation .serch .serch-img img {
  width: 11px;
  height: 11px;
}
.container .hero-section {
  display: flex;
  justify-content: center;
  width: 1088px;
  margin: 0 auto;
  background-color: #f2f5f8;
}
.container .hero-section .hero-section-main {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 44px;
  border-radius: 4px;
}
.container .hero-section .hero-section-main p {
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  padding-bottom: 14px;
}
.container .hero-section .hero-section-main .hero-section-slider-back {
  display: none;
}
.container .hero-section .hero-section-main .hero-section-slider-middle {
  display: none;
}
.container .hero-section .hero-section-main .hero-section-slider {
  padding: 18px;
  background-color: #fff;
  border-radius: 12px;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-slider-img {
  width: 706px;
  height: 230px;
  border-radius: 12px;
}
.container .hero-section .hero-section-main .hero-section-slider h1 {
  padding: 18px;
  font-size: 24px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  width: 630px;
}
.container .hero-section .hero-section-main .hero-section-slider h2 {
  padding: 18px;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #69a3a2;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .hero-section-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .one {
  background-color: #8172d5;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .six {
  background-color: #8172d5;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .eight {
  background-color: #8172d5;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .circles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .circles .circle {
  width: 12px;
  height: 12px;
  border: 2px solid #8172d5;
  border-radius: 50%;
}
.container .hero-section .hero-section-main .hero-section-slider .hero-section-foot .circles .circle:hover {
  background-color: #8172d5;
}
.container .hero-section .hero-section-aside {
  margin-top: 44px;
  width: 30%;
}
.container .hero-section .hero-section-aside p {
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #133b3a;
  margin-bottom: 17px;
}
.container .hero-section .hero-section-aside .hero-section-aside-icones {
  height: 471px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 12px;
  padding: 50px;
}
.container .hero-section .hero-section-aside .hero-section-aside-icones .hero-icone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  color: #133b3a;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}
.container .panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: 55px auto 14px auto;
}
.container .panel .news {
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #133b3a;
}
.container .panel .nevs-one {
  color: #8172d5;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #8172d5;
}
.container .cards-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 19px;
  margin: 0 auto;
  width: 1088px;
  margin: 0 auto;
}
.container .cards-section .card {
  background-color: #fff;
  width: 260px;
  height: 368px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
  border-radius: 12px;
  gap: 20px;
}
.container .cards-section .card .img-box {
  width: 224px;
  height: 125px;
  border-radius: 12px;
  margin: 0 auto;
}
.container .cards-section .card .img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.container .cards-section .card p {
  font-size: 20px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #133b3a;
  margin: 0 auto;
}
.container .cards-section .card h6 {
  color: #69a3a2;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}
.container .question {
  width: 1088px;
  margin: 0 auto;
  padding-top: 81px;
  padding-bottom: 14px;
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #133b3a;
}
.container .question-section {
  max-width: 1088px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 10px;
}
.container .question-section .question-box {
  width: 100%;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 12px;
}
.container .question-section .question-box .question-text-arrow {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .question-section .question-box .question-text-arrow p {
  color: #8172d5;
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}
.container .question-section .question-box .question-text-arrow img:hover {
  transform: rotate(360deg);
  transition: 2s;
  cursor: pointer;
}
.container .virtual-events-section {
  margin-top: 111px;
  display: flex;
  height: 360px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.clear {
  display: none;
}

.opacity {
  opacity: 0;
  transition: 0.8s;
}/*# sourceMappingURL=style.css.map */